* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    
}

#forg{
    cursor: pointer;
}
#pass-form,
#signn-form{
    display:none;
}
*:focus { 
    outline: none; 
}
input {
    border: none;
}
li {
    list-style: none;
}
html {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; 
    color: #fff;
}
a {
    text-decoration: none;
    color: inherit;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 14px;
    color:#c7c7c7;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 14px;
    color:#c7c7c7;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 14px;
    color:#c7c7c7;
  }
.header {
    height:70px;
    padding: 20px 65px ;

}
.header2 {
    border-bottom: 1px solid #EDEDED;
}
.logo {
    float: left;
    margin-top: 1.5%;
}
.lo {
    padding: 0;
    margin: 0;
}
.help {
    float: right;
    color:#707070;
}
.top-sec {
    background-image: url("bg.png");
    height:720px;
    background-size:cover;
    margin: auto;
}
.container2,
.container {
    width:1200px;
    margin: auto;
    display:flex;
}
.pull-right {
    width: 50%;
}
.pull-text {
    font-size: 55px;
    margin-top:40%;
    font-family: 'open-sans', sans-serif;
}
.pull-left {
    width: 50%;
}
.box {
    width: 350px;
    background-color: #fff;
    margin-top: 20%;
    margin-left:17%;
    border-radius:7px;
    text-align: center;
    padding: 5%;
    color:#707070;
    box-shadow: 5px 10px 28px 0.1px #b3b1b1;

}
.logo-box {
    height:30px;
    
}
.boxx-tex {
    margin-top:2%;
}
.input {
    border-bottom: 0.1px  solid #707070;
    padding-top: 15%;
    width:90%;
    font-family: 'Lato', sans-serif;
    padding-bottom: 5%;
    font-size: 16px;
}
.create,
.submit2,
.logbtn {
    width:90%;
    background-color:#0067FC;
    border-radius: 4px;
    padding: 5% 0;
    margin-top: 15%;
    color:#fff;
}
.acct {
    float: left;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 2%;
}
.create {
    background-color: transparent;
    color:#0067fc;
    border: 2px  solid #0067fc;
}
.wel{
    line-height: 1px;
}
.every {
 font-size:30px;
}
footer {
  
    height: 30px;
    background-color: #0067fc;
    padding:5% 10%;
}
.footer-nav li {
 display: inline-block
}
.section-log{
	margin:auto;
    color: #707070;
    width:80%;
  
}
.sign-form{
    padding:50px 10px 10px 10px;
    text-align:center;
 
    
}
.name,
.role,
.user-name,
.fname,
.lname,
.email,
.number,
.password{
	margin:3%;
	border-bottom: 0.5px solid #707070;
	width:60%;
	padding:2%;
}
.name3,
.name2{
    padding-top:4%;
}
.name1{
    padding-top:6%;
}
.hco {
    font-size:40px; 
    font-weight: 700;
}

.submit2 {
    width: 30%;
    padding: 3% 3%;
    margin-top: 10%;
    border-radius: 4px;
}
.center-boxxx {
margin:auto;
}
.boxx {
    margin:10% auto 5% auto;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    cursor: pointer;
  }
.bor{
    border: 1px solid #bababa; 
    width: 80%;
    padding:1% 1%;
    border-right: none;
  }
  
.topnav .search-container button:hover {
    background: #ccc;
  }
.top-us {
    font-size:48px;
    color: #ededed
  }
.flexboxx {
    color:#707070;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.logo {
    width:15%;
}
.search-container {
    width:70%;
    margin-top: 1%;
}
.userp {
    width: 15%;
    margin-bottom: 2%;
}
.top-subb {
    background-color: #fff;
    border: 1px solid #bababa;
    padding: 1% 0;
    border-left: none;
    padding-right: 1.5%; 
} 
.top-sub {
    color: #EDEDED;
    font-size: 14px;
    font-weight: bold;
    margin-right: 1%;
} 
.header4 {
    height: 70px;
    padding: 0 65px;
}
.usern {
    font-size:16px;
    margin-bottom: 4%;
     font-family: 'open-sans', sans-serif;  margin-left: 3%;
}
.top-us {
    margin-top: 2%; 
}
.container2 {
    width: 100%;
    padding: 0 5%;
}  
.lef-bo {
    width:16%;
    padding-left: 2%;
}
.righ-bo {
    width:84%;
    border-left: 1px solid #EDEDED;
    height: 600px;
    
}
th, td {
    padding: 1.3%;
  }
th {
    border-bottom: 1px solid #EDEDED;
    padding: 1.3% 0 1.3% 0;
  }
.unread {
    font-weight: bold;
  
}
.cau,
.del{
    font-size: 12px;
    color: #EDEDED;
}
.lef-bo,
.table {
    color:#707070;
}
.check {
    background-color: #fff;
}
.tainn {
    padding: 0;
}
.cree {
    width: 90%;
    padding: 3.5% 0;
    margin-top: 5%;
    margin-bottom: 2%;
}
.em-bnn li{
    margin-top:8%;
}
.em-btn {
    width: 50px;
    border:1px solid #EDEDED;
    border-radius: 30%;
    background-color: transparent;
    padding: 2% 1%;
    margin-left: 49%;
    color:#0067FC;
}
.mvv {
    margin-left: 49%;
}
.mvvv {
    margin-left: 52%;
}
.mv {
    margin-left: 46%; 
}
.grp {
    font-size: 14px;
    font-weight: normal;
    margin-top: 16%;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 3%;
    margin-left:10%;

}
.textt {
    border-bottom:none;
}
.top-env {
    margin-left: 45%;
    color:#cccbcb;
}
.bg {
    margin-left: 53%; 
}
.bgg {
    margin-left: 46%; 
}
.ft {
    margin-top: 0;
}
.cr-grppp {
    display:inline;
    color:#EDEDED;
}
.em-bnn {
    margin-bottom: 12%;
}
.plus {
    border: 1px solid #cccbcb;
    border-radius: 50%;
    padding:0 3%;
    text-align: center;
    font-size: 18px;
    margin-right: 3%;
};
.crrr{
    padding-top: 7%;
}
.bghg {
    color:#EDEDED;
    font-size:100px;
    margin-top: 15%;
}
#mmoo,
#mmo {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.closed,
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.closed:hover,
.closed:focus
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ellip {
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
  cursor: pointer;
}
#box28,
#box23 {
    height:600px;
    margin-top: 5%;
    width:70%;
    overflow:scroll;
    text-align: justify;
}
.boxx-textt {
    padding: 5%;
}
.cree2 {
    color:#fff;
    background-color: #0067FC;
    width: 40%;
    padding: 2% 3%;
    margin-top: 10%;

}
.teexs {
    width:80%;
    padding:2%;
    margin-top:5%;
}
.sent,
.recieve{
    font-size:12px;
    display: block;
    padding:3%;
    border-bottom: 1px solid #EDEDED;
    max-width: 900px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    cursor: pointer;
}
.sender,
.reciever{
    margin: 2%;
    font-size: 1.5em;
    margin-left: 0;
}
#logo-box {
    text-align: center;
}
.rep {
    font-size:20px;
    margin-right:2%;
    color:#c6c4c4;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #0067FC;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .rep:hover .tooltiptext {
    visibility: visible;
  }
#mmoo {
    cursor: pointer;
}
#box25 {
    width: 50%;
    margin-top: 2%;
    height:650px;
    
}
.yh {
    margin-top:2%;
}
.creee {
    width:14%;
    padding: 1% 0;
    margin-top:0;
}
.grppp {
    font-size:30px;
    font-weight: bold;
}
#box28 {
  width:80%;
  overflow: visible;
  height:auto;
}
#table {
    width: 100%;
}
.boooo {
    width: 100%;
    margin: auto;
}
.creeee {
    width:18%;
    padding: 1% 0;
    margin-top:0;
}
.btm{
    text-align: center;
}
.em-bnn .icon {
    display: none;
}
#myTopnav {
    overflow: hidden;
  }
.newt {
    padding-top:0;
    padding-bottom:2%;
    border-bottom: 1px solid rgb(169, 169, 169); 
    width:80%;
}
#subject {
    margin-top: 5%;
}
#feedback,
#feedback1,
#feedback2,
#feedback3,
#feedback4,
#feedback5,
#feedback9,
#feedback11,
#feedback12 {
    display: none;
    color:red;
    padding: 0.3em 0 0 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.spinner {
    display:none;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 80%;
    width: 10px;
    height: 10px;
    margin-top:5px;
    margin-left: 5px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/********************************Queries**********************/
@media only screen and (max-width: 1200px) {
    .pull-text {
        margin-left: 8%;
        font-size:45px;
    }
   
    .wel {
        line-height:80px;
    }
    
    .usern {
        font-size: 12px;
    }
    .em-btn {
        width: 38px;
        padding:3%;
    }
    .mvv {
        margin-left: 47%;
    }
    .mvvv {
        margin-left: 52%;
    }
    .boxx {
        margin-top: 5%;
    }
    #signn-form,
    #bxx {
        margin-left: 25%;
    }
    
}
@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
    }
    footer {
        height: 250px;
    }
    .top-sec {
        height: 1000px;
    }
    .header {
        height: 120px;
        padding-top:40px;
        padding-bottom: 0;
    }
    
    .pull-text {
        margin-top: 60%
    }
    .bxx {
        margin-top: 60%;
    }
    .top-sec2 {
        height: 1000px;
    }
    .shok {
        width: 22%;
    }
    .baz {
        width: 78%;
    }
    .search-container {
        width: 60%;
    }
    .userp {
        width:25%;
    }
    .sent, .recieve {
        max-width: 600px;
    }
    .grppp {
        font-size: 23px;
    }
    .cau,
    .del {
        font-size: 18px;
    }
    .crs {
        font-size: 10px;
    }

}
@media only screen and (max-width: 768px) {
    .every {
        font-size: 38px;
    }
    #signn-form,
    #bxx {
        margin-left: 5%;
    }
    .em-bnn li {display: none;}
    .em-bnn a.icon {
        float:left;
        display: block;
    }
    .em-bnn.responsive li {
        position: relative;
        color: #000;
    }
    .em-bnn.responsive .icon {
        position: absolute;
        top: 100px;
        float: left;
  }
  .em-bnn.responsive li {
        float: none;
        display: block;
        text-align: left;
  }
  .container2 {
      display: block;
  }
  .lef-bo {
      width:100%;
  }
 
  .em-bnn {
      margin-bottom: 4%;
  }
  .barss {
      font-size:30px;
  }
  .em-bnn li {
    margin-top: 3%;
}
 .em-btn{
     padding:0%;
 }
 .cs {
     margin-top: 8%;
     width:100px;
    padding:1% 0;
    margin-bottom:0;
 }
 .plus {
    padding: 0 1%;
    margin-right: 1%;
}
.mvvv {
    margin-left: 49.5%;
}
.mvv {
    margin-left: 49%;
}
.mv {
    margin-left: 49.5%;
}
.bg {
    margin-left: 47%;
}
.bgg {
    margin-left: 45%;
}
.search-container{
    display: none;
}
.flexboxx {
    display: block;
}
.logo {
width:auto;
float: left;
}
.userp {
    width:auto;
    float: right;
}
.usern {
    margin-left: 0;
}
.grp {
    margin-top:4%;
}
.recieve {
    width:450px;
}
#box23 {
    overflow: hidden;
}
.crs {
    width:120px;
}
.righ-bo {
    width: 100%;
}
}
@media only screen and (max-width: 480px) {
    .top-sec {
        background-image: url("bgm.png");
        padding-top: 40%;
    }
    .tsd {
        display:block;
        padding: 12% 5% 0 5%;
    }
    .csb{
        float:none;
        width: 100%;
        margin-top: 25%;
    }
    .csd {
        float:none;
        width:100%;
        margin: auto;
    
    }
    .pull-text,
    .every{
        font-size: 32px;
    }
    .pull-text {
        margin-top:0;
    }
    .wel {
        line-height: 20px;
    }
    .bxx {
        margin-top:20%;
    }
    #signn-form,
    #bxx{
        margin-left:3%;
        margin-bottom:5%;
    }
    .resp{
        z-index: -1;
        position: absolute;
        padding-bottom:0;
        height: 250px;
        font-size: 12px; 
        text-align: center;
    }
    footer{
        width:100%;
    }
    .navvv {
        margin-top: 53%;
    }
    .header {
        padding: 0 45px;
        padding-top: 45px;
        height: 100px;
    }
    .logo {
        margin-top: 0;
    }
    .hco {
        font-size: 27px;
    }
    .name, .role, .user-name, .fname, .lname, .email, .number, .password {
        width: 90%;
    }
    .hd {
        font-size: 12px;
    }
    .sign-form {
        padding-top: 20px;
    }
    .cs {
        margin-top: 15%;

        width:70px;
        font-size:12px;
    }
    .baz {
        height: 400px;
    }
    .header4 {
        padding: 5px 20px;
    }
    .bak {
        margin-top: 3%;
        
    }
    .bak img {
        width: 100px;
    }
    .usern {
        margin-left:5px; 
    }
    
    .container2 {
        padding: 0 5%;
    }
    .shok,
    .righ-bo {
        border-left:none;
        font-size:12px;

    }
    .barss {
        font-size: 20px;
    }
    .em-btn {
        font-size: 10px;
        padding: 1% 0;
        width:23px;
    }
    #box23 {
        width:90%;
    }
    
    .grppp {
        font-size: 25px;
    }
    .cay,
    .rep,
    .del {
        font-size: 14px;
    }
    .crs {
        width: 82px;
        font-size: 10px;
    }
    .sender,
    .reciever {
        font-size: 15px;
    }
    .recieve,
    .send {
        width: 350px;
    }
    .po {
        font-size: 19px;
    }
    .navvv {
        margin-top: 35%;
    }
    .flexboxx {
        padding-top:5%; 
    } 
    .top-sec2 {
        height: 600px;
    }
    .ft {
        height: 120px;
        font-size:12px;
    }
    

    
}
@media only screen and (max-width: 375px) {
    #signn-form,
    #bxx {
        margin-left: 2%;
    }
    .box {
        width: 320px;
    }
    .recieve, .send {
        width: 300px;
    } 
 
    .ellip {
        max-width: 60px;
    }
    
}